html{
  font-family: "Noto Sans JP";
}
body{
  padding: 50px;
  padding-top: 10px;
}

#nav{
  display: flex;

  & span{
    font-size: 30px;
    font-weight: bold;
  }
}

ul{
  padding: 0;
  list-style-type: none;

  & li{
    display: flex;
    margin: 5px;

    & .complete{
      text-decoration: line-through;
      color: #ddd;
    }
  }
}

.rightSide{
  margin-left: auto;
}